/* Embeded fonts */
	@font-face {font-family: bookfont; src: url(../fonts/Gotham-Book.otf); }
	@font-face {font-family: boldfont; src: url(../fonts/Gotham-Bold.otf); }
	@font-face {font-family: mediumfont; src: url(../fonts/Gotham-Medium.otf); }
/* Embeded fonts */

/* Common CSS Start*/
	body{font-family: bookfont, sans-serif, Arial, Helvetica; color:#5d5d5d;}
	h1,h2,h3,h4,h5,h6{font-family: bookfont, sans-serif, Arial, Helvetica; color:#5d5d5d;}
	input,textarea,button,select{font-family: bookfont, sans-serif, Arial, Helvetica; color:#5d5d5d;}
	ul,li{margin:0; padding:0;}
	a{color:#5d5d5d;}
	a:hover{text-decoration:none; color:#5d5d5d;}
	.clearfix{clear:both;}

	::selection{background: #29abe1; color:#fff;}
	::-moz-selection{background: #29abe1; color:#fff;}

	.block{display: block;}
	.in-block{display:inline-block;}
	.no-float{float:none;}
	.relative{position:relative;}
	.float-right{float: right;}
	.float-left{float: left;}
	.md-datepicker-calendar-pane{z-index: 999999 !important;}

	.font-12 {font-size: 12px; }
	.font-14 {font-size: 14px; }
	.font-16 {font-size: 16px; }
	.font-18 {font-size: 18px; }
	.font-20 {font-size: 20px; }
	.font-22 {font-size: 22px; }
	.font-24 {font-size: 24px; }
	.font-26 {font-size: 26px; }
	.font-28 {font-size: 28px; }
	.font-30 {font-size: 30px; }
	.font-32 {font-size: 32px; }
	.font-34 {font-size: 34px; }
	.font-36 {font-size: 36px; }
	.font-38 {font-size: 38px; }
	.font-40 {font-size: 40px; }
	.font-42 {font-size: 42px; }
	.font-44 {font-size: 44px; }
	.font-46 {font-size: 46px; }
	.font-48 {font-size: 48px; }
	.font-50 {font-size: 50px; }
	.font-54 {font-size: 54px; }

	.weight-400{font-family: bookfont;}
	.weight-500{font-family: mediumfont;}
	.weight-700{font-family: boldfont;}

	.margin-0{margin:0;}
	.margin-0-b{margin-bottom: 0;}
	.push-5-t{margin-top: 5px;}
	.push-5-b{margin-bottom: 5px;}
	.push--5-b{margin-bottom: -5px;}
	.push-10-b {margin-bottom: 10px; }
	.push-10-t {margin-top: 10px; }
	.push-20-b {margin-bottom: 20px; }
	.push-20-t {margin-top: 20px; }
	.push-26-t {margin-top: 26px; }
	.push-30-b {margin-bottom: 30px; }
	.push-30-t {margin-top: 30px; }
	.push-32-t {margin-top: 32px; }
	.push-35-b {margin-bottom: 35px; }
	.push-40-b {margin-bottom: 40px; }
	.push-40-t {margin-top: 40px; }
	.push-50-b {margin-bottom: 50px; }
	.push-50-t {margin-top: 50px; }
	.push-60-b {margin-bottom: 60px; }
	.push-60-t {margin-top: 60px; }
	.push-10-r {margin-right: 10px; }
	.push-20-r {margin-right: 20px; }
	.push-20-l {margin-left: 20px; }
	.push-10-l {margin-left: 10px; }
	.push-5-l {margin-left: 5px; }
	.push-5-r {margin-right: 5px; }
	.push-10-lp{margin-left: 10%;}

	.padding-5-b {padding-bottom: 5px; }
	.padding-10-b {padding-bottom: 10px; }
	.padding-10-t {padding-top: 10px; }
	.padding-20-b {padding-bottom: 20px; }
	.padding-18-t {padding-top: 18px; }
	.padding-20-t {padding-top: 20px; }
	.padding-30-b {padding-bottom: 30px; }
	.padding-30-t {padding-top: 30px; }
	.padding-40-b {padding-bottom: 40px; }
	.padding-110-b {padding-bottom: 110px; }
	.padding-40-t {padding-top: 40px; }
	.padding-50-b {padding-bottom: 50px; }
	.padding-50-t {padding-top: 50px; }
	.padding-60-b {padding-bottom: 60px; }
	.padding-60-t {padding-top: 60px; }
	.padding-70-b {padding-bottom: 70px; }
	.padding-70-t {padding-top: 70px; }
	.padding-10-r {padding-right: 10px; }
	.padding-0-l {padding-left: 0px; }
	.padding-10-l {padding-left: 10px; }
	.padding-20-r {padding-right: 20px; }
	.padding-40-r {padding-right: 40px; }
	.padding-30-l {padding-left: 30px; }
	.padding-5-r{padding-right: 5px;}

	.text-fff{color: #fff;}
	.text-gray{color: #757575;}
	.text-black{color: #121212;}
	.text-light-black{color: #404040;}

	.bg-white{background: #fff;}
	.bg-gray{background: #f4f6f8;}
	.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{outline: none !important;}
/* Common CSS End*/

/* Home Page CSS Start */
	.navbar-default .navbar-nav > li.login > a{color: #fff;}
	.navbar > .container-fluid .navbar-brand{height: auto; text-align: left; margin: 0; padding: 2px 100px 40px 80px; margin-top: 10px; background: url(../images/homepage/logo.png) no-repeat; margin-left: 30px; background-size: 170px auto; font-family: 'Gotham-Light', sans-serif, Arial, Helvetica; font-size: 17px; color: #1d3a60;}
	.navbar > .container-fluid .navbar-brand span{font-family: 'GothamMedium', sans-serif, Arial, Helvetica; font-size:23px; text-transform:uppercase; display:block;}
	.navbar{margin-bottom: 0px; border: none;}
	.navbar-default{background:transparent;}
	.navbar-default .navbar-nav > li > a{font-family: regularfont; text-transform:capitalize; font-weight:400; font-size: 14px; color: #fff; padding-top: 12px; padding-bottom: 10px;}
	.navbar-default .navbar-nav > li > a.text-black{color: #555;}
	.navbar-default .navbar-nav > li > a.text-black:hover{color: #555 !important;}
	.navbar-default .navbar-nav > li.bg-sky > a{background: #29abe1; color: #fff; border-radius: 3px;}
	.header .dropdown-toggle{margin-top:1px; font-weight:400; font-size: 16px; color: #000000; background: transparent; padding-top: 6px; padding-bottom: 5px;}
	.navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .header .dropdown-toggle:hover, .header .dropdown-toggle:active, .header .dropdown-toggle:focus, .search-section .btn-common:hover, .search-section .btn-common:focus, .search-section .btn-common:active{outline: none !important; box-shadow: none !important;}
	.header{position:fixed; transition:transform 450ms ease; z-index:999; width:100%; padding:0 0 15px 0; padding-bottom: 10px; background:transparent; /*box-shadow: 0 0 2px 0px rgba(0,0,0,0.2);*/}
	.header .navbar .navbar-header p{margin-top: 16px;}
	.header .navbar #navbar{margin:14px 0 0 0;}
	.header.header_custom {
  background-color: #fff;
}

.header_custom {
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  z-index: 999;
}

.AlldayDrlogo {
  width: 146px;
  height: 35px;
  object-fit: contain;
}
.header-home .AlldayDrlogo{
  width: 146px;
  height: 35px;
  object-fit: contain;
}

.header_custom .navbar {
  height: 80px;
}

.header_custom .brand {
  margin: 25px;
  margin-left: 40px;
  margin-top: 27px;
}

/* Consultant page CSS */
	.header.inner-header{background: #fff; box-shadow: 0px 0px 3px #DDD; height: 70px;}
	.header.inner-header .navbar > .container-fluid .navbar-brand{padding: 2px 100px 40px 80px; background-size: 170px auto; margin-top: 10px;}

/* OVERWRITE BOOTSTRAP */
	.navbar-default .navbar-brand{color:inherit;}
	a:focus{outline:none; outline-offset:0;}
	a:focus, a:hover{text-decoration:none;}
	#navbar>ul>li>a:hover{color: #fff; -webkit-transition: all 0.2s linear !important; transition: all 0.2s linear !important;}
	#navbar>ul>li>a.overright-hover:hover{color: #555;}
	.navbar-default .navbar-nav>.active>a{color: #2dbfbd; background-color: #fff;}
	.navbar-default .navbar-nav>li>a.current{color: #2dbfbd;}
	.navbar-default .navbar-nav>.active>a.current{color: #fff; background-color: #2dbfbd;}
	.navbar-default .navbar-nav>li.bg-sky>a, #navbar>ul>li.bg-sky>a:hover{color: #fff; background-color: #29abe1;}
	.navbar-default .navbar-toggle .icon-bar{transition: all 300ms ease-in-out 0s; position:relative; height:3px;}
	.navbar-default .navbar-toggle{border-color:#fff; padding:16px 15px; margin:0;}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color:#fff;}
	.navbar-default .navbar-toggle.collapsed .icon-bar:first-child, .navbar-default .navbar-toggle.collapsed .icon-bar:last-child{top:0; transform:rotate(0deg);}
	.navbar-default .navbar-toggle.collapsed .icon-bar:nth-child(2){opacity:1;}
	.navbar-default .navbar-toggle .icon-bar:first-child{top: 7px; transform: rotate(45deg);}
	.navbar-default .navbar-toggle .icon-bar:nth-child(2){opacity:0;}
	.navbar-default .navbar-toggle .icon-bar:last-child{top:-7px; transform:rotate(-45deg);}

/* Button classes */
.btn-custom {
  width: 180px;
  height: 40px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.2px;
  padding: 10px;
  font-family: mediumfont;
}
.btn-custom.width-255{
	width: 255px;
}
.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus {
  outline: none !important;
  box-shadow: none;
}
.btn-custom.btn-blue {
  background-color: #16a4fa;
  border: solid 1px #16a4fa;
  color: #fff;
}
.btn-custom.height-big{
	height: 48px;
}
.header-margin{
	margin-top: 80px;
}
input.custom-input {
  height: 48px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #e9e9e9;
  box-shadow: none;
  color: #404040;
  padding: 6px 16px;
}

input.custom-input:hover,
input.custom-input:focus,
input.custom-input:active {
  background-color: #ffffff;
  border: solid 1px #16a4fa;
  box-shadow: none;
}

input.custom-input.not_editable,
input.custom-input.not_editable:hover,
input.custom-input.not_editable:focus {
  background-color: #f9f9f9;
  border: solid 1px #16a4fa !important;
}
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
}
.social-mobile{
	display: none;
}

/* Media queries */
@media screen and (max-width: 991px){
	.social-mobile{
		margin-top: 20px;
		float: none;
		display: block;
		clear: both;
		margin: 0 auto;
		text-align: center;
	}
	.social-mobile a img{
		float: none;
		display: inline-block;
		margin: 0 auto;
	}
	.social-web{
		display: none;
	}
	.social-mobile{
		display: block;
	}
	.header_custom .brand {
		margin-left: 10px;
	}
}
@media screen and (max-width: 767px) {
	.btn-custom.width-255{
		width: 100%;
	}
	.header_custom .brand{
		margin-left: 0px;
		float: left;
    margin-right: 0;
	}
	.navbar-nav{
		width: 205px;
		text-align: right;
		display: inline-block;
		float: left;
		margin-left: 146px;
	margin-top: -89px;
	}
	.navbar-nav p{
		margin-left: 13px;
    margin-right: 10px;
	}
	.navbar-nav img{
		width: 73%;
    float: right;
    margin-right: 10px;
    margin-top: 31px;
	}
	.push-60-t{
		margin-top: 40px;
	}

	.overright-marginauto{
		margin: 0;
	}
	footer{
		position: relative;
	}
}
@media screen and (min-height: 800px) {
	.padding-110-b {
		padding-bottom: 193px;
	}
}